@page "/earnings"
@using web.Client.Components

<div class="row">
    <div class="col-md-8 col-sm-12">
        <EarningTable></EarningTable>
    </div>
    <div class="col-md-4 col-sm-12">
        <EarningForm></EarningForm>
    </div>
</div>

@code {

}
