@using web.Shared

@if (Earnings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-header">
            Earnings
        </div>
        <dv class="card-body">
            @if (!Earnings.Any())
            {
                <p>No earnings yet.</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var earning in Earnings)
                        {
                            <tr>
                                <td>@earning.Date.ToShortDateString()</td>
                                <td>@earning.Subject</td>
                                <td>@earning.Category</td>
                                <td>@earning.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </dv>
    </div>
    
}

@code {
    [Parameter] public IList<EarningModel> Earnings { get; set; }



}